#### CONNECT TO GOOGLE DRIVE
#### for finding good stocks

In [1]:
from google.colab import drive
drive.mount('/content/gdrive')

Mounted at /content/gdrive

In [2]:
import pandas as pd
import numpy as np
import datetime as dt
import os
import matplotlib.pyplot as plt

In [3]:
work_path = '/content/gdrive/Shared drives/marketdata/stock/'
os.chdir(work_path)

In [64]:
names = ['strategy', 'cur_day', 'sid', 'beta', 'time_out', 'gamma',
       'cool_down_min', 'stop_loss_factor', 'theta', 'position_max_q',
       'profit', 'total_cost']

#### for YY5

In [38]:
res_df = pd.read_csv("../result.csv")

In [53]:
res_df.columns = [x.strip() for x in res_df.columns]

In [54]:
res_df.columns

Index(['strategy', 'cur_day', 'sid', 'beta', 'time_out', 'gamma',
       'cool_down_min', 'stop_loss_factor', 'theta', 'position_max_q',
       'profit', 'total_cost'],
      dtype='object')

In [40]:
sid_set = set(res_df.loc[:, 'sid'])

In [42]:
res_df.loc[res_df.loc[:, 'sid'] == 6278]

    strategy              cur_day   sid  ...  position_max_q  profit  total_cost
54       YY5  2020-09-09 00:00:00  6278  ...              10     0.0      6421.5
55       YY5  2020-09-10 00:00:00  6278  ...              10    19.5      4736.5
56       YY5  2020-09-11 00:00:00  6278  ...              10    37.5     10001.0
57       YY5  2020-09-14 00:00:00  6278  ...              10   -20.5      4473.5
58       YY5  2020-09-15 00:00:00  6278  ...              10    22.5      5656.0
..       ...                  ...   ...  ...             ...     ...         ...
179      YY5  2020-09-21 00:00:00  6278  ...              10     3.0       741.0
180      YY5  2020-09-22 00:00:00  6278  ...              10     5.5      1290.5
181      YY5  2020-09-23 00:00:00  6278  ...              10     6.0      1348.5
182      YY5  2020-09-24 00:00:00  6278  ...              10    13.5      2796.0
183      YY5  2020-09-25 00:00:00  6278  ...              10     0.0         0.0

[130 rows x 12 columns]

In [43]:
p = res_df.loc[res_df.loc[:, 'sid'] == 1216, 'profit'].sum()
c = res_df.loc[res_df.loc[:, 'sid'] == 1216, 'total_cost'].sum()
print(p, c, p/c)

2.9000000000000705 18176.700000000004 0.00015954491189270164

In [51]:
return_array = []
for sid in sid_set:
    res_df.loc[res_df.loc[:, 'sid'] == sid]
    p = res_df.loc[res_df.loc[:, 'sid'] == sid, 'profit'].sum()
    c = res_df.loc[res_df.loc[:, 'sid'] == sid, 'total_cost'].sum()
    return_array.append({"sid": sid, "return": p/c, "profit": p, "cost": c})

In [52]:
def get_return(x):
    return x['return']
sorted(return_array, key=get_return)[::-1]

[{'cost': 356051.5,
  'profit': 776.5,
  'return': 0.0021808642850823547,
  'sid': 6278},
 {'cost': 1284.4500000000003,
  'profit': 1.800000000000022,
  'return': 0.0014013780217213762,
  'sid': 2891},
 {'cost': 60635.5,
  'profit': 80.5,
  'return': 0.001327605115814993,
  'sid': 2308},
 {'cost': 9751.500000000004,
  'profit': 10.59999999999998,
  'return': 0.0010870122545249424,
  'sid': 3045},
 {'cost': 1177.4,
  'profit': 1.200000000000017,
  'return': 0.0010191948360795116,
  'sid': 2892},
 {'cost': 16632.799999999996,
  'profit': 14.999999999999702,
  'return': 0.0009018325236881166,
  'sid': 1303},
 {'cost': 23172.000000000004,
  'profit': 12.29999999999987,
  'return': 0.0005308130502330342,
  'sid': 2317},
 {'cost': 2992.8499999999985,
  'profit': 1.3499999999999837,
  'return': 0.00045107506223164687,
  'sid': 2002},
 {'cost': 14011.700000000004,
  'profit': 6.3000000000001535,
  'return': 0.0004496242425972688,
  'sid': 3711},
 {'cost': 28346.1,
  'profit': 12.000000000000727,
  'return': 0.000423338660344835,
  'sid': 6505},
 {'cost': 23147.4,
  'profit': 9.400000000000176,
  'return': 0.00040609312492980533,
  'sid': 1301},
 {'cost': 425572.0,
  'profit': 83.0,
  'return': 0.00019503162802064045,
  'sid': 2454},
 {'cost': 18176.700000000004,
  'profit': 2.9000000000000705,
  'return': 0.00015954491189270164,
  'sid': 1216},
 {'cost': 3586.2999999999997,
  'profit': 0.1499999999999846,
  'return': 4.182583721383727e-05,
  'sid': 2882},
 {'cost': 55421.5,
  'profit': 1.5,
  'return': 2.706530858962677e-05,
  'sid': 2912},
 {'cost': 217.0, 'profit': 0.0, 'return': 0.0, 'sid': 2412},
 {'cost': 272027.0,
  'profit': -47.0,
  'return': -0.0001727769669922471,
  'sid': 3406},
 {'cost': 125755.5,
  'profit': -24.0,
  'return': -0.00019084652361129334,
  'sid': 2330},
 {'cost': 43806.9,
  'profit': -11.60000000000035,
  'return': -0.00026479846782128725,
  'sid': 3037},
 {'cost': 8453.650000000001,
  'profit': -4.399999999999757,
  'return': -0.0005204852341887536,
  'sid': 2881},
 {'cost': 10009.199999999997,
  'profit': -8.69999999999996,
  'return': -0.0008692003356911604,
  'sid': 1326},
 {'cost': 666010.0,
  'profit': -760.0,
  'return': -0.0011411240071470398,
  'sid': 3008},
 {'cost': 999.5999999999999,
  'profit': -1.299999999999983,
  'return': -0.0013005202080832163,
  'sid': 2886}]

#### for YY6

In [55]:
res_df_YY6 = pd.read_csv("../result_YY6.csv", names = ['strategy', 'cur_day', 'sid', 'beta', 'time_out', 'gamma',
       'cool_down_min', 'stop_loss_factor', 'theta', 'position_max_q',
       'profit', 'total_cost'])

In [56]:
res_df_YY6

    strategy              cur_day   sid  ...  position_max_q  profit  total_cost
0        YY6  2020-09-09 00:00:00  6462  ...              10  -10.50      2034.0
1        YY6  2020-09-10 00:00:00  6462  ...              10    7.00      2449.0
2        YY6  2020-09-11 00:00:00  6462  ...              10    0.00         0.0
3        YY6  2020-09-14 00:00:00  6462  ...              10    1.00       346.0
4        YY6  2020-09-09 00:00:00  6462  ...              10  -10.50      2034.0
..       ...                  ...   ...  ...             ...     ...         ...
324      YY6  2020-09-21 00:00:00  2892  ...              10    0.00         0.0
325      YY6  2020-09-22 00:00:00  2892  ...              10    0.00         0.0
326      YY6  2020-09-23 00:00:00  2892  ...              10    0.00         0.0
327      YY6  2020-09-24 00:00:00  2892  ...              10    0.00         0.0
328      YY6  2020-09-25 00:00:00  2892  ...              10    0.55       221.1

[329 rows x 12 columns]

In [59]:
sid_set = set(res_df_YY6.loc[:, 'sid'])

In [62]:
return_array = []
for sid in sid_set:
    res_df_YY6.loc[res_df_YY6.loc[:, 'sid'] == sid]
    p = res_df_YY6.loc[res_df_YY6.loc[:, 'sid'] == sid, 'profit'].sum()
    c = res_df_YY6.loc[res_df_YY6.loc[:, 'sid'] == sid, 'total_cost'].sum()
    return_array.append({"sid": sid, "return": p/c, "profit": p, "cost": c})

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: RuntimeWarning: invalid value encountered in double_scalars

In [63]:
def get_return(x):
    return x['return']
sorted(return_array, key=get_return)[::-1]

[{'cost': 0.0, 'profit': 0.0, 'return': nan, 'sid': 2412},
 {'cost': 30459.5,
  'profit': 69.5,
  'return': 0.002281718347313646,
  'sid': 6278},
 {'cost': 59315.0,
  'profit': 91.0,
  'return': 0.0015341819101407739,
  'sid': 2308},
 {'cost': 1154.0500000000002,
  'profit': 1.4500000000000206,
  'return': 0.0012564446947706082,
  'sid': 2891},
 {'cost': 11982.500000000004,
  'profit': 13.999999999999709,
  'return': 0.0011683705403713503,
  'sid': 1303},
 {'cost': 7388.100000000001,
  'profit': 8.60000000000008,
  'return': 0.0011640340547637523,
  'sid': 3045},
 {'cost': 27736.5,
  'profit': 32.0,
  'return': 0.0011537144196275665,
  'sid': 6462},
 {'cost': 1033.65,
  'profit': 0.8500000000000121,
  'return': 0.0008223286412228627,
  'sid': 2892},
 {'cost': 107578.0,
  'profit': 79.5,
  'return': 0.0007389986800275149,
  'sid': 6488},
 {'cost': 1831.6500000000003,
  'profit': 1.3000000000000504,
  'return': 0.0007097425818251578,
  'sid': 2002},
 {'cost': 25701.300000000007,
  'profit': 17.399999999999864,
  'return': 0.0006770085559874348,
  'sid': 6505},
 {'cost': 15155.300000000001,
  'profit': 7.099999999999952,
  'return': 0.000468482972953353,
  'sid': 2317},
 {'cost': 15861.6,
  'profit': 6.4999999999998295,
  'return': 0.0004097947243657531,
  'sid': 1216},
 {'cost': 234440.0,
  'profit': 89.0,
  'return': 0.00037962804982084967,
  'sid': 2454},
 {'cost': 45073.899999999994,
  'profit': 8.499999999999872,
  'return': 0.00018857919993610212,
  'sid': 3037},
 {'cost': 12459.8,
  'profit': 1.6999999999999031,
  'return': 0.00013643878713943267,
  'sid': 1301},
 {'cost': 8971.699999999999,
  'profit': 0.7000000000000464,
  'return': 7.802311713499632e-05,
  'sid': 3711},
 {'cost': 17951.5, 'profit': 0.0, 'return': 0.0, 'sid': 2912},
 {'cost': 119499.5,
  'profit': -2.0,
  'return': -1.6736471700718413e-05,
  'sid': 2330},
 {'cost': 3077.5499999999993,
  'profit': -0.15000000000001967,
  'return': -4.8740069210904685e-05,
  'sid': 2882},
 {'cost': 6992.6500000000015,
  'profit': -4.099999999999909,
  'return': -0.0005863299321430227,
  'sid': 2881},
 {'cost': 195295.0,
  'profit': -119.0,
  'return': -0.0006093345963798356,
  'sid': 3406},
 {'cost': 857.6,
  'profit': -0.6999999999999886,
  'return': -0.0008162313432835688,
  'sid': 2886},
 {'cost': 6648.4,
  'profit': -9.49999999999997,
  'return': -0.0014289152277239593,
  'sid': 1326},
 {'cost': 354285.0,
  'profit': -670.0,
  'return': -0.0018911328450258971,
  'sid': 3008}]

#### for YY9

In [65]:
res_df_YY9 = pd.read_csv("../result_YY9.csv", names = ['strategy', 'cur_day', 'sid', 'beta', 'time_out', 'gamma',
       'cool_down_min', 'stop_loss_factor', 'theta', 'position_max_q',
       'profit', 'total_cost'])

In [66]:
res_df_YY9

    strategy              cur_day   sid  ...  position_max_q  profit  total_cost
0        YY9  2020-09-09 00:00:00  6462  ...              10    -1.5      5086.0
1        YY9  2020-09-10 00:00:00  6462  ...              10     7.5      2604.0
2        YY9  2020-09-11 00:00:00  6462  ...              10     8.0      2733.0
3        YY9  2020-09-14 00:00:00  6462  ...              10    16.5      5697.5
4        YY9  2020-09-15 00:00:00  6462  ...              10   -22.5      1913.5
..       ...                  ...   ...  ...             ...     ...         ...
401      YY9  2020-09-24 00:00:00  3037  ...              10     3.9      2944.2
402      YY9  2020-09-25 00:00:00  3037  ...              10    -1.8      2755.1
403      YY9  2020-09-09 00:00:00  3037  ...              10   -15.9      2228.0
404      YY9  2020-09-10 00:00:00  3037  ...              10     0.0         0.0
405      YY9  2020-09-11 00:00:00  3037  ...              10   -15.5      1501.4

[406 rows x 12 columns]

In [67]:
sid_set = set(res_df_YY9.loc[:, 'sid'])

In [68]:
return_array = []
for sid in sid_set:
    res_df_YY9.loc[res_df_YY9.loc[:, 'sid'] == sid]
    p = res_df_YY9.loc[res_df_YY9.loc[:, 'sid'] == sid, 'profit'].sum()
    c = res_df_YY9.loc[res_df_YY9.loc[:, 'sid'] == sid, 'total_cost'].sum()
    return_array.append({"sid": sid, "return": p/c, "profit": p, "cost": c})

In [69]:
def get_return(x):
    return x['return']
sorted(return_array, key=get_return)[::-1]

[{'cost': 245248.5,
  'profit': 180.5,
  'return': 0.0007359881915689596,
  'sid': 6462},
 {'cost': 252645.5,
  'profit': 66.59999999999985,
  'return': 0.00026361047396450697,
  'sid': 6278},
 {'cost': 466763.0,
  'profit': -85.0,
  'return': -0.0001821052654130683,
  'sid': 6488},
 {'cost': 243464.60000000003,
  'profit': -137.90000000000043,
  'return': -0.0005664067794660925,
  'sid': 3037}]